# Introduction  
This week I will explore the driving problem which is week to week data that our group chose, I will simply add up the steps for the week to see the number of steps for the first week.  
(beginning date：01/10/2022, end date： 01/10/2022, author: Tiannan Chen)

## Importing external packages  
in this notebook, we need to import numpy, csv, pandas and matplotlib.pyplot package.  
(beginning date：01/10/2022, end date： 01/10/2022, author: Tiannan Chen)

In [1]:
"(beginning date：01/10/2022, end date： 01/10/2022, author: Tiannan Chen)"
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame

## First get the data from the Github  
In this notebook, we still use the form of url to get the data set saved in GitHub  
(beginning date：01/10/2022, end date： 01/10/2022, author: Tiannan Chen)

In [2]:
"(beginning date：01/10/2022, end date： 01/10/2022, author: Tiannan Chen)"
#get the raw data from the github
url = "https://raw.github.sydney.edu.au/xguo0149/2022-DATA3406-RE06-Group04/main/src/resources/Participant-03.csv?token=GHSAT0AAAAAAAAAHGMVU2TXURUSK4J4YK2QY2BNZZA"
# use panda to read this csv
data = pd.read_csv(url)
#show the data
data

                 Start            Finish  Steps (count)
0     31/12/2021 23:00   01/01/2022 0:00       0.000000
1      01/01/2022 0:00   01/01/2022 1:00      14.000000
2      01/01/2022 1:00   01/01/2022 2:00       0.000000
3      01/01/2022 2:00   01/01/2022 3:00       0.000000
4      01/01/2022 3:00   01/01/2022 4:00       0.000000
...                ...               ...            ...
6015  08/09/2022 13:00  08/09/2022 14:00       0.000000
6016  08/09/2022 14:00  08/09/2022 15:00     893.959035
6017  08/09/2022 15:00  08/09/2022 16:00     534.040965
6018  08/09/2022 16:00  08/09/2022 17:00     390.020268
6019  08/09/2022 17:00  08/09/2022 18:00    1191.979732

[6020 rows x 3 columns]

In [3]:
"(beginning date：01/10/2022, end date： 01/10/2022, author: Tiannan Chen)"
#Directly select the number of hours needed for the week
df = data[1:175]
#Add a column of data
one_week = df['Steps (count)'].sum()
#show the result
one_week

13171.999999660999

# conclusion 
In this way, we have a week's step count data, and we also need papers to prove whether the people who were recorded this week are sticking to exercise.  
(beginning date：01/10/2022, end date： 01/10/2022, author: Tiannan Chen)