# TPP09

Author: Shangfei Wang | Date: 02/10/2022

This notebook is an exploration of assignment2 data. Do some necessary categorization based on our high level driving question.

## Import packages and Read Data

Below are the packages that need to be used. 'datetime' is used to aid in the analysis of time data.

In [1]:
# Date started: 02/10/2022

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

Read the required data from github.

In [2]:
# Date started: 02/10/2022

# df = pd.read_csv("resources/Participant-07.csv")
df = pd.read_csv('https://raw.github.sydney.edu.au/xguo0149/2022-DATA3406-RE06-Group04/main/src/resources/Participant-07.csv?token=GHSAT0AAAAAAAAAHGL2Y7QYYSSBJAGTICQYY2EEX5A')

## Data clean

First, split the date and time to facilitate subsequent analysis of the date.

In [3]:
# Date started: 02/10/2022

df['Date'] = df['Start'].map(lambda x:x.split(' ')[0])  # Split to get 'Date' column
df['Time'] = df['Start'].map(lambda x:x.split(' ')[1])  # Split to get 'Time' column
df

                  Start             Finish  Steps (count)         Date   Time
0     01-Jan-2022 00:00  01-Jan-2022 01:00           32.0  01-Jan-2022  00:00
1     01-Jan-2022 01:00  01-Jan-2022 02:00            0.0  01-Jan-2022  01:00
2     01-Jan-2022 02:00  01-Jan-2022 03:00            0.0  01-Jan-2022  02:00
3     01-Jan-2022 03:00  01-Jan-2022 04:00            0.0  01-Jan-2022  03:00
4     01-Jan-2022 04:00  01-Jan-2022 05:00            0.0  01-Jan-2022  04:00
...                 ...                ...            ...          ...    ...
6128  13-Sep-2022 07:00  13-Sep-2022 08:00          798.0  13-Sep-2022  07:00
6129  13-Sep-2022 08:00  13-Sep-2022 09:00          139.0  13-Sep-2022  08:00
6130  13-Sep-2022 09:00  13-Sep-2022 10:00          392.0  13-Sep-2022  09:00
6131  13-Sep-2022 10:00  13-Sep-2022 11:00          328.0  13-Sep-2022  10:00
6132  13-Sep-2022 11:00  13-Sep-2022 12:00            0.0  13-Sep-2022  11:00

[6133 rows x 5 columns]

Replace index and set date as index.

In [4]:
# Date started: 02/10/2022

df['date'] = pd.to_datetime(df['Date'])
df.set_index("date", inplace=True) # change index

df

,Start,Finish,Steps (count),Date,Time
date,,,,,
2022-01-01,01-Jan-2022 00:00,01-Jan-2022 01:00,32.0,01-Jan-2022,00:00
2022-01-01,01-Jan-2022 01:00,01-Jan-2022 02:00,0.0,01-Jan-2022,01:00
2022-01-01,01-Jan-2022 02:00,01-Jan-2022 03:00,0.0,01-Jan-2022,02:00
2022-01-01,01-Jan-2022 03:00,01-Jan-2022 04:00,0.0,01-Jan-2022,03:00
2022-01-01,01-Jan-2022 04:00,01-Jan-2022 05:00,0.0,01-Jan-2022,04:00
...,...,...,...,...,...
2022-09-13,13-Sep-2022 07:00,13-Sep-2022 08:00,798.0,13-Sep-2022,07:00
2022-09-13,13-Sep-2022 08:00,13-Sep-2022 09:00,139.0,13-Sep-2022,08:00
2022-09-13,13-Sep-2022 09:00,13-Sep-2022 10:00,392.0,13-Sep-2022,09:00
2022-09-13,13-Sep-2022 10:00,13-Sep-2022 11:00,328.0,13-Sep-2022,10:00
2022-09-13,13-Sep-2022 11:00,13-Sep-2022 12:00,0.0,13-Sep-2022,11:00

Setting the date as index is to consolidate the data for a week. This matches the time frequency of advanced driving problems.

The data is aggregated by running resample('w').sum() . The data is consolidated from daily recorded steps into weekly steps.

Resample in Pandas, resampling, is a method of reprocessing the original sample, and it is a convenient method for resampling and frequency conversion of regular time series data.

In [5]:
# Date started: 02/10/2022

print(df.resample('w').sum()) # 'w' stands for weeks.

            Steps (count)
date
2022-01-02   14793.000000
2022-01-09   48008.000000
2022-01-16   45772.000000
2022-01-23   64605.000000
2022-01-30   52127.000000
2022-02-06   52774.000000
2022-02-13   57186.000000
2022-02-20   66588.000000
2022-02-27   47431.000000
2022-03-06   51290.000000
2022-03-13   53692.000000
2022-03-20   56876.000000
2022-03-27   67035.000000
2022-04-03   54921.000000
2022-04-10   59287.000000
2022-04-17   61964.000000
2022-04-24   57233.000000
2022-05-01   27315.000000
2022-05-08   52958.000000
2022-05-15   55363.000000
2022-05-22   49862.000000
2022-05-29   57916.000000
2022-06-05   52693.000000
2022-06-12   52088.000000
2022-06-19   46413.000000
2022-06-26   44977.000000
2022-07-03   59186.000000
2022-07-10   42272.000000
2022-07-17   54614.000000
2022-07-24   52900.000000
2022-07-31   61342.000000
2022-08-07   62321.035842
2022-08-14   56904.619988
2022-08-21   59816.314867
2022-08-28   54708.578491
2022-09-04   50079.131636
2022-09-11   65206.684003
2022-09-18   13084.366488

## Conclusion

Through this TPP, I changed the time frequency of the date to be weekly. It is convenient for the team to use in subsequent data analysis and statistics. This is in line with our high level driving question.